<h1>User details</h1>
<div *ngIf="user">
  <p>Name: {{user.name}}</p>
  <h2>Addresses:</h2>
  <ul>
    <li *ngFor="let address of user.addresses">
      <p>Street: {{address.street}}</p>
      <p>Postalcode: {{address.postalcode}}</p>
      <p>City: {{address.city}}</p>
      <p>Country: {{address.country}}</p>
    </li>
  </ul>

  <ul>
    <li>
      <a routerLink="/user/{{user.id}}">{{user.name}}</a>
      <button *ngIf="isCurrentUser()" (click)="editProfile()">Edit</button>
      <button (click)="onDelete()">Delete</button>
    </ul>
</div>
